@import "../../styles/variables";

.sidebar {
  width: $sidebar-width;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $sidebar-bg;
  color: $sidebar-text;
  padding: 1.5rem 0;

  &__header {
    text-align: center;
    padding: 0 1rem 1.5rem 1rem;
    border-bottom: 1px solid lighten($sidebar-bg, 10%);

    h3 {
      color: $text-light;
      margin-bottom: 0.25rem;
    }
    span {
      font-size: 0.8rem;
      color: $secondary-color;
    }
  }

  &__menu {
    list-style: none;
    margin-top: 1.5rem;

    li {
      a {
        display: flex;
        align-items: center;
        padding: 0.9rem 1.5rem;
        color: $sidebar-text;
        font-weight: 500;
        transition: background-color 0.2s ease, color 0.2s ease;

        svg {
          margin-right: 1rem;
          width: 20px;
          text-align: center;
        }

        &:hover {
          background-color: lighten($sidebar-bg, 5%);
        }

        &.active {
          background-color: $sidebar-link-active;
          color: $text-light;
          border-left: 4px solid $warning-color;
          padding-left: calc(1.5rem - 4px);
        }
      }
    }
  }
}
