@import "../../src/styles/variables.scss";

.main-layout {
  display: flex;
  min-height: 100vh;

  .main-content {
    flex: 1;
    padding: 2rem;
    background-color: $bg-light;
    margin-left: $sidebar-width; 
    height: 100vh;
    overflow-y: auto; 
  }
}
