@import "../../styles/variables";

.dashboard-page {
  h1 {
    margin-bottom: 2rem;
    color: $bg-dark;
  }

  .chart-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    @media (max-width: 1200px) {
      grid-template-columns: 1fr;
    }
  }

  .chart-container {
    background-color: $bg-content;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    height: 400px;

    h2 {
      font-size: 1.1rem;
      margin-bottom: 1rem;
      text-align: center;
      color: $text-dark;
    }
  }
}
